@import url('https://fonts.googleapis.com/css?family=Raleway'); /*--- Nav Font --*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway'); /*--- Heading Font --*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  background: #fff;
  color: white;
}
p{
  font-family: 'Playfair Display '
}
.side-nav
{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 20px 30px;
  text-decoration: none;
  font-size: 22px;
  color:#fff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  color:lightseagreen;
}

.btn-close{
  position: absolute;
  top:0px;
  right:15px;
  margin-left: 50px;
}

#main{
  margin-left:20px;
  overflow: hidden;
  width: 100%;
}
 .container{
  width: 100%;
  margin-top: 0;
  magin- left: 50px;
  overflow :hidden;
}

 #logo{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 100px;
}
.dark{
  padding:5px 15px;
  background: #35424a;
  margin-top: 10px;
  margin-bottom: 10px;
  color:#ffffff;
}
 
header{
  background: black;
  color: #ffffff;
  padding-top:10px;
  min-height: 70px;
  border-bottom:#085a83  5px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;;
  font-size: 18px;
}

ul{ /*global*/
  float:right;
  margin: 0 ;
  padding: 0;
}
header  ul li {
  margin-right: 20px;
  float: right;
  font-family:'Open Sans';
   padding:10px 10px 20px 20px;
   display:block;
   cursor: pointer;
   position: relative;

}

header ul li a {
  text-decoration: none;
  color:white;
}


.go {
  font-family:'Open Sans';
  margin-top:30px ;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 0px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: white;
  float:right;
  width:7px;
  height: 40px;
  line-height: 20px;
  text-align: right;
  font-weight: bold;
  
}

header #branding{
  float: left;
}
 
 header .current a{
   color:#e8491d;
   font-weight: bold;
 }

 header .no a{
  color:#fff;
 }

 header a:hover {
   color:green;
   font-weight: bold;
 }
header .go {
  display: none;
}
header  li:hover .go {
  display:block;
}

/*  #newsletter */

.left-col{
  width:60%;
  text-align:center;
  margin:2% 0 4% 20%;
}

.left-col h2{
  color:#e64a31;
  font-family:'raleway';
  font-weight: bold;
  font-size: 36px;
  margin-left:45%;
}
 .button_1{  /*global*/
   height: 30px;
   width: 200px;
   border: none;
   background: #298ba4;
   color: #f6cd9c;
   font-size: 20px;
   padding: 0px 20px;
 }

 .clearfix{
   clear:both;
   height: 2%;
 }
 footer{
  padding:20px;
  margin-top: 20px;
  text-align: center;
  color:#ffffff;
  background-color: black;
}

.sidebar{
  color: white;
   width: 65%;
   float:right;
   margin:2% 1% 2% 1%;
    text-align:center;
    font-family: 'Playfair Display';
    font-size:28px;
    background-color: black;
    opacity: .7;
 }
.sidebar header{
background: none;
color: white;
font-weight: bold;
}
.parallax{
  background: url("http://cdn.wallpapersafari.com/50/7/1ILonT.jpg")   ;
  opacity: .8   ;
  background-size:cover; 
  position: relative;
}
.parallax-inner{
 padding-top: 2%;
}

#newsletter {
   padding: 15px;
   color:#ffffff;
   background: #35424a;
 }
.bmi{
  float:left;
  width: 30%;
  text-align: center;
  color: #fff;
    margin-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
  opacity: .9;
  font-weight: bold;
}

input{
  font-size: 80%;
}

 #newsletter h1{
   float:left;
 }
 #newsletter form{
   margin-top: 20px;
   float: right;
 }
 #newsletter input[type="email"]{
   padding:4px;
   height: 25px;
   width: 250px;
 }



 /* media queries*/
@media(max-width: 768px)
{
  header #branding,header nav, header nav, header li ,#newsletter  h1,#newsletter  form,#boxes .box, #main-col, aside{
    float: none;
    text-align: center;
    width:100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase{
    margin-top: 40px;
  }
.go {
  font-family:'Open Sans';
  margin:0;
  margin-right: 15%;
  color: white;
  float: right;
  text-align: center;
  font-weight: bold;
  display: block;
}
}